.logo-preregistro {
    width: 436px;
    max-width: 90%;
    max-height: 120px;
}
.type {
    width: 284px;
    height: 285px;
}

.logo-profesional {
    height:160px;
    width: 104px;
    max-height: 160px;    
    max-width: 104px;
}