.logo-preregistro {
    /* width: 436px; */
    max-width: 90%;
    max-height: 117px;
}
.type {
    width: 284px;
    height: 285px;
}

.logo-profesional {
    max-height: 160px;
    max-width: 104px;
}