.logged {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #31a24c;
    position: absolute;
    right: 14px;
    bottom: 0px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

small {
    
}