.side-menu-abogado {
    z-index: 999;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 100%;

    .top {
        background: url('../src/assets/images/abogado/shared/side-menu/top-background.png');
        background-size: 100% auto;
        /*background-repeat: no-repeat;*/
        height: 115px;

        .avatar {
            width: 68px;
            height: auto;
        }
    }
    
    ul {
        list-style: none;
        margin-bottom: 0;

        li {
            a {
                text-decoration: none;
    
                svg {
                    margin-right: 10px;
                }
            }
        }
    }
}