.sideMenuAbogado {
    
    .top {
        // background: url('/assets/images/abogado/shared/side-menu/top-background.png');
        // background-size: 100% auto;
        /*background-repeat: no-repeat;*/
        height: 90px;

        .avatar {
            width: 68px;
            height: 68px;
            border-radius: 50%;
        }
    }

    .menu {
        overflow: auto;

        ul {
            list-style: none;
            margin-bottom: 0;
            
            li {
                a {
                    text-decoration: none;
                }
            }
        }
    }
    
}