.header {
    .ciudad {
        background: url('./src/assets/images/home/header/marker.png');
    }

    .tags {
        background: url('./src/assets/images/home/header/tags.png');
    }

    .ciudad, .tags  {
        padding-left: 40px;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .logo {
        width: 436px;
    }

    .menu {
        padding: 17px 20px 17px 20px;

        .nav-link {
            font-weight: 600;
            font-size: 20px;
            color: #000000;
            text-align: center;
            margin: auto;
        }
    }
}