.header {
    .ciudad {
        background: url('/assets/images/home/header/marker.png');
    }

    .tags {
        background: url('/assets/images/home/header/tags.png');
    }

    .ciudad, .tags  {
        padding-left: 40px;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .logo {
        width: 316px;
        max-width: 90%;
        margin: 0 auto;
    }

    .menu {
        padding: 17px 20px 17px 20px;

        .nav-link {
            font-weight: 600;
            font-size: 1.1rem;
            color: #000000;
            text-align: center;
            margin: auto;

            button {
                font-size: .9rem;
            }
        }
    }
}