.paginator {
    list-style-type: none;
    
    li {
        &.previous,
        &.next {
            margin: 0 5px;
        }
        
        &.previous a,
        &.next a,
        &.break a {
            border-color: transparent;
        }
        
        &.active {
            a {
                background-color: #0366d6;
                border-color: transparent;
                color: white;
                min-width: 32px;
            }
        }
        
        &.disabled {
            a {
               color: grey;
               cursor: default;
            }
        }

        &.disable {
            cursor: default;
        }        

        a {
            border-radius: 5px;
            padding: 0.1rem 1rem;
            border: gray 1px solid;
            cursor: pointer;
        }
    } 

}