.modal-header {
    border-bottom: none;

    .btn-close {
        margin: 0;
    }
    
    .modal-title {
        font-weight: bold;
        color: var(--bg-red);
    }
}

.modal-body {
    textarea {
        resize: none;
    }

    .icon {
        color: var(--bg-red);
    }

    .grid {
        columns: 2;
        column-gap: 0.25em;
    }

    .gifs {
        columns: 4;
        column-gap: 0.25em;
        max-height: 550px;
        overflow: auto;
    }

    .grid-item {
        position: relative;

        .remove {
            position: absolute;
            top: 8px;
            right: 4px;
            color: #fff;
            font-size: 15px;
            background-color: rgba(15, 20, 25, 0.75);
            border-radius: 50%;
            padding: 5px;
            width: 20px;
            height: 20px;
        }

        .media {
            margin-top: 0.25em;
            width: 100%;
            border-radius: 10px;
        }
    }
}

.modal-footer {
    border-top: none;
}

