@import './assets/styles/variables.scss';

@font-face {
    font-family: "poppins";
    src: local("poppins"),
      url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("woff");
}

@font-face {
    font-family: "poppins-bold";
    src: local("poppins-bold"),
      url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("woff");
}

html, body {
    height: 100%;
    font-family: poppins;
}

body {
    padding: 0;
    .swal2-height-auto {
        height: inherit;
    }
}

#root {
    height: 100%;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.blurred {
    filter: blur(8px);
}

a {
    &:hover {
        text-decoration: none;
        color: var(--bg-red-hover);
    }
    text-decoration: none;
}

.pt-7 {
    padding-top: 7rem!important;
}

.btn-primary {
    --bs-btn-bg: var(--bg-red);
    --bs-btn-hover-bg: var(--bg-red-hover);
    --bs-btn-active-bg: var(--bg-red-hover);
    --bs-btn-border-color: none;
    --bs-btn-focus-shadow-rgb: 251,56,75;
    --bs-btn-disabled-bg: var(--bg-red);
}

.form-floating{
    label {
        left: auto;
    }
}

.form-check-input{
    &:checked {
        background-color: var(--bg-red);
        border-color: var(--bg-red-hover);
    }
}

.form-switch {
     .form-check-input {
        width: 4em;
        height: 2em;
     }
}

.form-floating > .form-control::placeholder {
  color: revert;
}

.form-floating > .form-control:not(:focus)::placeholder {
    color: transparent;
}

small {
    font-size: .75em;
}

.bs-popover-auto[data-popper-placement^=bottom],
.bs-popover-bottom {
    .popover-arrow {
        &::after {
            border-bottom-color: var(--bg-red);
        }
    }

    .popover-header {
        &::before {
            border-bottom: 0;
        }
    }
}


@media (max-width: 575px) {
    .main {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .w-sm-25 {
        width: 25%;
    }

    .w-sm-50 {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .explorar {
        display: none;
    }
    
    .right {
        display: none;
    }

    .right-min {
        display: block !important;
    }
}

@media (max-width: 1100px) {
    .left {
        display: none;
    }

    .left-min {
        display: block !important;
    }
}

