// Left - Main - Right

.container {
    height: calc(100% - 45px);
}

.list {
    height: calc(100% - 85px);
    .listItem {
        width: 100%;

        .thumb {
            width: 100%;
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
        
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #bcc0c4; 
    }
}

.popperBody {
    padding: .25rem;
}