@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/_variables-dark.scss";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

:root {
    --bg-red: #64c27b;
    --bg-red-hover: #46995b;

    --bs-link-color: #64c27b;

    --bs-breadcrumb-font-size: .85rem;
}

.alert-danger {
  --bs-alert-color: #1c742f;
  --bs-alert-bg: #d0fad9;
  --bs-alert-border-color: #64c27b;
}

$new-position-values: (
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  33: 33.3%,
  25: 25%,
  10: 10%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  98: 98%,
);

$position-values: map-merge($position-values, $new-position-values);

$utilities: (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
    "end": (
        property: right,
        class: end,
        values: $position-values
    ),
    "top": (
        property: top,
        values: $position-values
    ),
    "bottom": (
        property: bottom,
        values: $position-values
    ),
    "height": (
      property: height,
      class: h,
      values: $position-values
    ),
    "width": (
      property: width,
      class: w,
      values: $position-values
    )
);

@import "bootstrap/scss/utilities/api";
