@import './src/assets/styles/variables.scss';

.fab {
    font-size: 35px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-red);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: 30px;
    bottom: 30px;
    box-shadow: 1px 1px 10px #343a40;
    color: #fff;
}