.floatWindow {
    position: absolute;
    z-index: 999;

    right: 25px;
    top: 50px;
}

.badget {
    padding: 5px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 4px;
    top: 4px;
}