.slider {
  background-size: cover;
  width: 100%;
  height: calc(100% - 160px);

  .title {
    font-size: 55px;
    font-family: poppins-bold;
  }

  .subtitle {
    color: #777776;
    font-size: 18px;
  }
}